<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="fd_ros2_control" params="name">

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>fd_hardware/FDEffortHardwareInterface</plugin>
                <param name="interface_ID">-1</param>
            </hardware>
            <joint name="fd_x">
                <command_interface name="effort" />
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="fd_y">
                <command_interface name="effort" />
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="fd_z">
                <command_interface name="effort" />
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="button">
                <command_interface name="effort" />
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>

    </xacro:macro>

</robot>
